.footer_div{
    display : flex;
    flex-direction: row;
    width : 100%;
    background: rgb(255,153,51);
    background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);
}
.footer_left{
    width : 35%;
}
.footer_right{
    width : 65%;
}
.phone{
    margin :10px; 
    font-size: 20px;
    color : black;
}
.footer_right_upper{
    display : flex;
    flex-direction: row;
}
.mail_address{
    width : 50%;
    margin :10px; 
    font-size: 25px;
    color : black;
}
.address{
    width : 50%;
    text-align: right;
   margin :10px; 
   font-size: 20px;
    color : black;
}
.GST{
   text-align: right;
   margin :10px; 
   color: black;
   font-size: 2.5rem;    
   font-weight: 700;
   font-family: 'Poppins', sans-serif;
   text-decoration: none !important;
}
.header__logo1{
    width : 100%;
}
.header__logo1 img{
    height :75px;
    width : 75px;
}
.links{
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;

}
.underlinks{
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}