.header{
    background: rgb(255,153,51);
    background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,255,255,1) 50%, rgba(19,136,8,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo1{
    flex: 0.5;
    width: fit-content ;  
}

.header__logo{
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

.header__logo__text{
    display: flex;
    flex-direction: column;
}

.underlinks{
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.email{
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.header__logo > img {
    height: 100px;
    width: 100px;
    margin: 2% 2%;
}

.header__middle{
    margin: 1% 1%;
}

.header__middle > span {
    color: black;
    font-size: 2.1rem;    
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


.links{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;

}



                
@media screen and (max-width: 960px) {


    .links{
        font-size: 0.8rem;
        font-weight: 600;
    }
  
    .underlinks{
        font-size: 0.5rem;
    }

    .email{
        font-size: 0.5rem;
    }
    
    .header__logo > img {
        height: 50px;
        width: 50px;
    }
    
    .header__middle{
        flex: 0.3;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .header__middle > img{
        height: 30px;
        width: 20px;
    }
    .header__middle > span {
        color: black;
        font-size: 0.9rem;
        text-decoration: none !important;
        font-family: 'Roboto', sans-serif;
    
    }

    
  
    

}